body {
    background-image: url(backgroundimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #9e528e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: rgb(210, 195, 207);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 7, 7);
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.card button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background: #2980b9;
}